@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montserrat:wght@800&family=Montserrat:wght@600&display=swap");

html {
  font-family: "Lato";
}

.Montserrat {
  font-family: "Montserrat";
}

.Lato {
  font-family: "Lato";
  font-weight: 300;
}

.Montserrat-bold {
  font-family: "Montserrat";
  font-weight: 800;
}

.D2coding {
  font-family: "D2Coding";
}

.blackback {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
}

@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
